* {
  background-color: black;
  color: white;
}

#main_main {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  padding-top: 28vh;
}

#main h1 {
  font-family: 'Oswald';
  font-size: 15vh;
  color: white;
  text-align: center;
}

#main a {
  color: #fff;
}

#main a:visited {
  color: #fff;
}

#body {
  display: flex;
}

#main_side {
  justify-content: flex-start;
  padding-left: 5vw;
  padding-top: 18vh;
}

#main_side h1 {
  font-family: 'Oswald';
  font-size: 5vh;
}

#navbar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

#navbar a {
  font-family: 'Oswald';
  margin-bottom: 1vh;
  font-size: 1.5vh;
}

#aboutInfo , #list , #players {
  padding: 2vh;
  margin-top: 4vh;
  margin-right: 14%;
  margin-left: 3%;
}

#aboutInfo p , #list li {
  font-family: 'Source Code Pro';
  font-size: 2vh;
}

#aboutInfo img {
  width: 70vw;
}

#list h1 {
  font-family: 'Source Code Pro';
  font-size: 4vh;
}

#players {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#players img {
  padding: 2vw;
}

#players h1 {
  font-family: 'Source Code Pro';
  font-size: 1.3vh;
  text-align: center;
}

#players p {
  font-family: 'Source Code Pro';
  font-size: 1.1vh;
  padding: 1vw;
  width: 350px;
  text-align: center;
}

#list li {
  padding: 1vh;
}
